.text-decoration-line-through {
    color: red;
}

/* Cursor pointer per il testo cliccabile */
span {
    cursor: pointer;
}

/* Stile dell'input */
.input-group {
    border-radius: 8px;
    overflow: hidden;
}

/* Stile dei pulsanti di filtro */
.btn-group .btn {
    min-width: 120px;
}

.badge {
    min-width: 100px;
}